{{ define "body_classes" }}page-default-single{{ end }}

{{ define "main" }}
<div class="intro">
  <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
  {{ if .Params.image }}
  <img alt="{{.Params.imageAltAttribute | default "Article hero image"}}" src="{{ .Params.image | relURL }}" />
  {{ end }}
</div>

<div class="content">
  {{ .Content | replaceRE "(<h[2-6] id=\"([^\"]+)\">)(.+)(</h[2-6]>)" `${1}${3}<a class="heading-anchor" href="#${2}">#</a>${4}` | safeHTML }}
</div>
{{ end }}